#tabbrowser-tabs .tab-text{
 font-size:10pt !important;
}

/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

.subviewbutton,
.toolbaritem-combined-buttons {
  font-size: 8pt;
}

#appMenu-protection-report-button,
#appMenuRestoreLastSession,
#appMenu-customize-button,
#appMenu-open-file-button,
#appMenu-more-button,
#appMenu-developer-button,
#appMenu-whatsnew-button,
#appMenu-help-button,
#appMenu-quit-button {
  display: none;
}

toolbarseparator {
  display: none;
}

/* Zoom/edit: move controls to the left (so they are visible), hide label (it's obvious what they do) and spacer */
#appMenu-zoom-controls spacer,
#appMenu-zoom-controls label,
#appMenu-edit-controls spacer,
#appMenu-edit-controls label {
  display: none;
}

/* Zoom/edit: center the controls somewhat */
#appMenu-zoom-controls {
  padding-left: 20px;
}
#appMenu-edit-controls {
  padding-left: 15px;
}

/* Zoom: hide fullscreen button (not possible to exit fullscreen without keyboard) */
#appMenu-fullscreen-button {
  display: none;
}

/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

/* Findbar */
[anonid="findbar-textbox-wrapper"] {  
  min-width: 160px;
  width: 160px;
}
[anonid="findbar-textbox"] {
 max-width: 100px;
 min-width: 100px;
 width: 100px;
}
.findbar-button {
  font-size: 6pt;
}
/* Save space */
.findbar-match-diacritics,
.findbar-entire-word,
.found-matches,
.findbar-find-status,
.find-status-icon
{
  display: none;
}
/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

/* Popup notifications (install add-on etc.): set max-width, remove icon and
 * make font smaller so it fits the box */
.popup-notification-body-container {
  max-width: 170px;
}
.popup-notification-icon {
  display: none;
}
.popup-notification-body {
  font-size: 8pt;
}

/* "Site information" (displayed when clicking the lock icon)
 * Making everything so small doesn't look terribly nice, but least it fits the
 * popup and everything is clickable. */
#identity-popup-multiView .panel-viewcontainer {
  font-size: 4pt;
}
#identity-popup-clear-sitedata-footer,
#identity-popup-more-info-footer {
  font-size: 7pt;
}

/* "Protections" (displayed when clicking the shield icon)
 * Same reasoning for small font, as for identity-popup above. */
#protections-popup-mainView {
  font-size: 4pt;
}
/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

/* Reduce minimum window width */
:root {
  min-width: 300px !important;
}
/* Copyright 2020 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later */

/* Reduce minimum window width */
#urlbar-container {
  min-width: 150px !important;
}

/* Remove various buttons left and right of the URL bar:
   - forward-button: also reachable via longpress of back button
   - home-button: not important enough
   - customizableui-special-spring: empty space
   - library-button: also reachable via PanelUI-menu-button
   - sidebar-button: not useful on mobile (we try to gain horizontal space)
   - fxa-toolbar-menu-button: firefox cloud stuff, also reachable via #PanelUI-menu-button
*/
/* #back-button */
#forward-button,
/* #reload-button */
#home-button,
#customizableui-special-spring1,
/* (urlbar) */
#customizableui-special-spring2,
#library-button,
#sidebar-button,
#fxa-toolbar-menu-button
/* #PanelUI-menu-button */ {
  display: none !important;
}

/* Smaller font: show more of the URL */
#urlbar-input,
input.urlbar-input /* FF 68 ESR */ {
  font-size: 9pt !important;
}

/* FF 68 ESR: does not have the exceeding urlbar, needs this padding to look good */
input.urlbar-input {
  padding-left: 5px !important;
}

/* FF 68 ESR: hide buttons inside the right of the urlbar, which are reachable from the "..." menu too */
#pocket-button-box,
#star-button-box,
.urlbar-history-dropmarker {
  display: none;
}
/*** Megabar Styler General - version 2020-07-27 ***/

  /*** General Preferences ***/
  :root {
    /* Number of pixels of enlargement when URL bar is focused */
    --mbarstyler-popout-pixels: 0px; /* [0px - 7px] */

    /* Top Bar Display or Not */
    --mbarstyler-top-bar-display: block; /* [block,none] */

    /* Font sizes (default: 13.8px for title, 10.2px for URL) */
    --mbarstyler-title-font-size: 15px; /* [13px - 18px] */
    --mbarstyler-url-font-size: 13px; /* [12px - 16px] */

    /* Rows to show without scrolling */
    --mbarstyler-max-rows-without-scrolling: 10;

    /* Bottom border for each result row */
    --mbarstyler-bottom-border-width: 1px; /* [0px or 1px] */
    
    /* Match display style */
    --mbarstyler-match-weight: 700; /* [400,700] */
    --mbarstyler-match-background-opacity: 0.0; /* [0.0,0.05,0.1] */
  }

  /*** URL bar enlargement or lack thereof ***/

  /* Compute new position, width, and padding */
  #urlbar[breakout][breakout-extend] {
    top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
    left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
    width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
    padding: var(--mbarstyler-popout-pixels) !important;
  }
  [uidensity="compact"] #urlbar[breakout][breakout-extend] {
    top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
  }
  [uidensity="touch"] #urlbar[breakout][breakout-extend] {
    top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
  }

  /* Prevent shift of URL bar contents */
  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */
  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;;
  }

  /* Remove shadows */
  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }

  /*** Top "Blue Bar" Display ***/

  .urlbarView-row:first-of-type {
    display: var(--mbarstyler-top-bar-display) !important;
  }

  /*** Font Sizes and Scrolling ***/

  /* Title font-size */
  .urlbarView-row .urlbarView-title {
    font-size: var(--mbarstyler-title-font-size) !important;
  }

  /* URL / action font-size */
  .urlbarView-row .urlbarView-secondary,
  .urlbarView-row .urlbarView-url,
  .urlbarView-row .urlbarView-action {
    font-size: var(--mbarstyler-url-font-size) !important;
  }

  /* Set max-height for items visible without scrolling */
  #urlbarView-results, #urlbar-results {
    height: unset !important;
    max-height: calc(2.5 * (var(--mbarstyler-title-font-size) + var(--mbarstyler-bottom-border-width)) * var(--mbarstyler-max-rows-without-scrolling)) !important;
  }
  #urlbar-results {
    overflow-y: auto !important; 
  }

  /* Clean up extra spacing at the top and bottom */  
  #urlbar-results {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  /* Subtle border between results */
  .urlbarView-row:not(:last-of-type) {
    border-bottom: var(--mbarstyler-bottom-border-width) solid rgba(0, 0, 0, 0.1) !important;
  }

  /* Match Styling Like Fx43-47 */
  .urlbarView-row:not([selected]) .urlbarView-title strong,
  .urlbarView-row:not([selected]) .urlbarView-url strong {
    font-weight: var(--mbarstyler-match-weight) !important;
    border-radius: 2px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, calc(var(--mbarstyler-match-background-opacity) * 2));
    background-color: rgba(0, 0, 0, var(--mbarstyler-match-background-opacity));
  }
  [lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-title strong,
  [lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-url strong {
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, calc(var(--mbarstyler-match-background-opacity) * 2));
    background-color: rgba(255, 255, 255, var(--mbarstyler-match-background-opacity));
  }
  [lwthemetextcolor="bright"] .urlbarView-row:not([selected]) .urlbarView-title strong,
  [lwthemetextcolor="bright"] .urlbarView-row:not([selected]) .urlbarView-url strong {
    box-shadow: inset 0 0 1px 1px rgba(192, 192, 192, calc(var(--mbarstyler-match-background-opacity) * 4));
    background-color: rgba(192, 192, 192, calc(var(--mbarstyler-match-background-opacity) * 3));
  }

/*** End of: Megabar Styler General ***/
